---
export const prerender = true;
import { fetchData } from "@/lib/fetchData";
import Layout from "@/layouts/Layout.astro";
import { StructuredText } from "@datocms/astro/StructuredText";
import { format } from "date-fns";
import "@/styles/globals.css";
import { Seo } from "@datocms/astro/Seo";

interface MetaTag {
  attributes: Record<string, string>;
  content: string;
  tag: string;
}

interface PageProps {
  seo: MetaTag[];
  slug: string;
  pageHeadline: string;
  lastUpdated: string;
  pageText: {
    value: any;
  };
  favicon: MetaTag[];
}

export async function getStaticPaths() {
  const data = await fetchData<{
    page: {
      seo: MetaTag[];
      slug: string;
      lastUpdated: string;
      pageHeadline: string;
      pageText: {
        value: any;
      };
    }[];
    site: {
      favicon: MetaTag[];
    };
  }>(`
  {
    page: allPages {
      seo: _seoMetaTags {
        attributes
        content
        tag
      }
      slug
      lastUpdated
      pageHeadline
      pageText {
        value
      }
    }
    site: _site {
      favicon: faviconMetaTags {
        attributes
        content
        tag
      }
    }
  }
  `);

  return data.page.map(({ seo, slug, pageHeadline, lastUpdated, pageText }) => {
    return {
      params: { slug },
      props: { seo, slug, pageHeadline, lastUpdated, pageText, favicon: data.site.favicon },
    };
  });
}

const { seo, pageHeadline, lastUpdated, pageText, favicon } = Astro.props as PageProps;
const formattedDate = format(lastUpdated, "MMMM dd, yyyy");
---

<Seo data={[...seo, ...favicon]} />

<Layout>
  <div class="space-y-5 mt-16">
    <section>
      <h1 class="text-2xl md:text-4xl font-semibold">{pageHeadline}</h1>
      <div class="mt-6">
        <p class="text-sm">Last updated</p>
        <p class="text-base">{formattedDate}</p>
      </div>
      <hr class="border-baseLightGray w-40 mt-4" />
    </section>

    <div class="prose">
      <StructuredText data={pageText.value} />
    </div>
  </div>
</Layout>
