---
import { Seo } from "@datocms/astro/Seo";
import { fetchData } from "../lib/fetchData";
import CTALinkButton from "@/components/CTALinkButton.astro";
import UpRightArrow from "../../public/icons/up-right-arrow.svg?raw";

interface MetaTag {
  attributes: Record<string, string>;
  content: string;
  tag: string;
}

interface LandingPage {
  seo: MetaTag[];
  ctaText: string;
  ctaLink: string;
}

interface Site {
  favicon: MetaTag[];
}

interface FetchedData {
  page: LandingPage;
  site: Site;
}

const data: FetchedData = await fetchData<FetchedData>(`{
  page:  landingPage{
    seo: _seoMetaTags {
      attributes
      content
      tag
    }
    ctaText
    ctaLink
  }
  site: _site {
    favicon: faviconMetaTags {
      attributes
      content
      tag
    }
  }
}`);
---

<Seo data={[...data.page.seo, ...data.site.favicon]} />

<section class="min-h-[100svh] flex items-center justify-center">
  <h1 class="sr-only">{data.page.seo[0].content}</h1>
  <CTALinkButton ctaLink={data.page.ctaLink}>{data.page.ctaText} <span class="size-4" set:html={UpRightArrow} /></CTALinkButton>
</section>
