---
import Footer from "@/components/Footer.astro";
import Navigation from "@/components/Navigation.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="grid min-h-[100dvh] grid-rows-[auto_1fr_auto]">
    <Navigation />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    @apply text-baseDarkGray bg-baseLight text-base;
  }
</style>
